# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.user
*.unityproj

# OS files
.DS_Store
Thumbs.db

# Others
*.log
*.pidb
*.booproj
*.svd
*.pdb
*.mdb